<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
</head>
<body>
<h2>Your cart</h2>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Qty</th>
		</tr>
		<% total_price = 0 %>
		<% total_qty = 0 %>
		<% @items.each do |item| %>
		<tr>
			<td><%= item[0].title %></td>
			<td><%= item[0].price %></td>
			<td><%= item[1] %></td>
		</tr>
		<% total_price += item[0].price * item[1].to_i %>
		<% total_qty += item[1].to_i %>
		<% end %>
		<tr>
			<td></td>
			<td><%= total_price %></td>
			<td><%= total_qty %></td>
		</tr>
	</thead>
</table>
<form action="" method="POST" role="form">
	<div class="form-group">
		<label>Name:</label>
		<input type="text" name="order[name]" class="form-control" placeholder="Your name">
	</div>
	<div class="form-group">
		<label>Phone:</label>
		<input type="text" name="order[phone]" class="form-control" placeholder="+79112223344">
	</div>
	<div class="form-group">
		<label>Addess:</label>
		<input type="text" name="order[address]" class="form-control" placeholder="Delivery address">
	</div>

	<button type="submit" class="btn btn-primary">Place order</button>
</form>

</body>
</html>