<h2>Welcome to Pizza Shop!</h2>
<br />
<br />
<div class="row">

	<% @products.each do |p| %>
		<div class="col-md-4">
			<div>
				<b><%= p.title %></b>
			</div>
			<br />
			<div>
				<img src="<%= p.path_to_image %>" class="img-responsive img-rounded">
			</div>
			<div>
				<%= p.description %>
			</div>
			<div>
				Price: <%= p.price %> rub.
			</div>
			<div>
				Size: <%= p.size %> cm.
			</div>

			<div>
				<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
			</div>
		</div>
	<% end %>
</div>
</br>
</br>
<button class="btn btn-primary" onclick="something()">Click me</button>

<script type="text/javascript">   //функция, которая выполняется после перезагрузки страницы
	$(function() {
		update_orders_input(); //вызываем функцию после перезагрузки страницы
	})
</script>